<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Inicio</title>
	<!-- BOOTSTRAP 4 CDN -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>

  </head>
<style>

body {
  background-image: url('https://www.gamba.fm/wp-content/uploads/2017/12/google-maps-portada.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


</style>

  <body>

    <nav class="navbar navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="/">Pagina Principal</a>
      <a class="navbar-brand" href="/crud">Crud</a>
      <a href="/graficaN" class="navbar-brand">Grafica</a>
    </nav>


      

